[submodule "vendor/flutter"]
	path = vendor/flutter
	url = https://github.com/flutter/flutter.git
	branch = stable
[submodule "vendor/oatpp"]
	path = vendor/oatpp
	url = git@github.com:zegang/oatpp.git
[submodule "vendor/cllama"]
	path = vendor/cllama
	url = git@github.com:zegang/cllama.git
